<div class="wrapper center-block">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" [ngClass]="isCollapse == true ? 'active' : ''" role="tab" (click)="toggle()">
      <h4 class="panel-title" >
        <a role="button"  data-parent="#accordion" href="#collapseOne" aria-expanded="true" >
          <div class="checkbox switcher">
            <label>
              <input type="checkbox" [(ngModel)]="isToggle"/>
              <span><small></small></span>
              <small>{{title}}</small>
            </label>
          </div>
        </a>
      </h4>
    </div>
    <div class="panel-collapse" role="tabpanel" *ngIf="isCollapse">
      <div class="panel-body">
        <ng-content select="content"></ng-content>
      </div>
    </div>
  </div>
</div>
</div>
