<div class="dashboard">
<app-privacy-policy></app-privacy-policy>
<div class="container" >
  <ng-container *ngFor="let banner of banners">

  <app-accordian-container [title]="banner.CategoyHeading" [isCollapse]="false" [isToggle]="banner.IsMandatory">
    <content>
      <p>{{banner.CategoyText}}</p>
      <div class="row">
        <div class="col-md-4">
         <strong>Plugins</strong>
        </div>
        <div class="col-md-4">
        <strong>Block/Enable</strong>
        </div>
        <div class="col-md-4">

        </div>
      </div>
      <div class="row" *ngFor="let plugin of banner.PluginList">
        <div class="col-md-4">
        {{plugin.ComplianceType}}
        </div>
        <div class="col-md-4">
          <div class="checkbox switcher">
            <label>
              <input type="checkbox" [(ngModel)]="plugin.BlockingEnabled"/>
              <span><small></small></span>
            </label>
          </div>

        </div>
        <div class="col-md-4">
          <a [href]="plugin.optOutExternalLink">Go to site</a>
        </div>
      </div>
    </content>
  </app-accordian-container>

</ng-container>

</div>
</div>
